.login-container{
    margin: auto;
}

.login-header{
    width: 100;
    height: 95px;
    background: var(--color-primary);
    padding: 30px;

}

.login-header h3{
    
        width: 216px;
        height: 26px;
               
        /* main/sub headline */
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 21.33px;
        line-height: 26px;
        /* identical to box height */
    
        text-align: center;
    
        color:var(--color-white);
}

.login-nav nav{
    display: flex;
    justify-content: space-between;
}
.login-nav nav img {
    margin-top: 20px;
    margin-left: 50px;
}

.login-nav nav ul {
    display: flex;
    justify-content: space-between;
    
}

.login-nav nav ul li{
   margin-right: 40px;
   margin-top: 40px;



    width: 80px;
    height: 23px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #222222;


    /* Inside auto layout */

}



.login-nav nav ul li a {



    color: #222222;


}

.main-body{
   
    display: flex;
    justify-content: space-between;
    margin-top:100px;
    padding: 50px;
}

.main-body .leftside {
   width: 100;
  
}

.main-body .leftside h1 {
 margin-bottom:20px ;
color: #333333;
width: 372px;
    height: 57px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 47.1162px;
        line-height: 57px;
}

.main-body .leftside p {
    color: rgba(34, 34, 34, 0.7);
    width: 535px;
        height: 49px;
            
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
}

.main-body .leftside img {
    width: 530px;
        height: 347px;
}

.main-body .rightside  {
 
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-top: 0;
  width: 50%;
 text-align: center;
}

/* Email */
.main-body .rightside form p {

    width: 52px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

    margin-bottom: 10px;


    /* Inside auto layout */

}



.main-body .rightside form input {
width: 100%;
height: 40px;
margin-bottom: 20px;
border: 1px solid black;
border-radius: 10px;
transition: var(--transition);
}


.main-body .rightside form input::placeholder {
 

width: 225px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: rgba(34, 34, 34, 0.5);

margin-left: 30px;
    /* Inside auto layout */


}

.main-body .rightside .forget  {
    display: flex;
    justify-content: space-between;
margin-bottom: 20px;
}
.main-body .rightside .forget .remember{
display: flex;

}

.main-body .rightside .forget .remember input {
  margin-right: 7px;
  width: 20px;
background-color: var(--color-white);
}


.main-body .rightside .forget  {
    margin-bottom: 40px;


}

.main-body .rightside .forget .remember input {
    margin-right: 7px;
    width: 20px;

}

.main-body .rightside .forg {
    text-align: center;
}

.main-body .rightside .forg a {
   color: var(--color-primary);
}
.main-body .rightside button {
width: 100%;
    height: 60px;
    background: #34A1CA;
        border-radius: 10px;
        border: none;
        color: var(--color-white);
        margin-bottom: 20px;
}
