footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}


footer .footer-container .cx56text {
   margin-top: 30px;
   color: var(--color-white);
}

footer .footer-container .cx56text h1 {
    width: 171px;
        height: 59px;
        font-family: 'Lexend';
            font-style: normal;
            font-weight: 700;
            font-size: 47.1199px;
            line-height: 59px;
}

footer .footer-container .cx56text a {
    width: 20px;
    color: var(--color-white);
    margin: 10px;
    
}


footer .footer-container .quck-link h1{
    width: 156px;
        height: 36px;
        font-family: 'Lexend';
            font-style: normal;
            font-weight: 600;
            font-size: 29.124px;
            line-height: 36px;
            color: var(--color-white);
            text-align: justify;
            margin-bottom: 30px;
            
}


footer .footer-container .quck-link ul li {
text-align: justify;
    height: 23px;
font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-white);
    margin-top: 10px;

}

footer .footer-container  ul li a {
   
    color: var(--color-white);
  

}





footer .footer-container .support h1 {
    width: 156px;
    height: 36px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 29.124px;
    line-height: 36px;
    color: var(--color-white);
    text-align: justify;
    margin-bottom: 30px;

}


footer .footer-container .support ul li {
    text-align: justify;
    height: 23px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-white);
    margin-top: 10px;

}



footer .footer-container .connect h1 {
width: 236px;
    height: 36px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 29.124px;
    line-height: 36px;
    color: var(--color-white);
    text-align: justify;
    margin-bottom: 30px;

}


footer .footer-container .connect ul li {
    text-align: justify;
    height: 23px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-white);
    margin-top: 10px;

}

footer small {
    width: 226px;
        height: 23px;
font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-white);
}


  @media screen and (max-width: 600px) {

} 