@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

input:focus{
  outline: none;
}
:root {
  --color-bg: #ffff;
 
  --color-primary: #018ABD;
  --color-primary-variant: linear-gradient(89.51deg, #A7DAF9 -51.13%, #018ABD 131.81%);
  --color-white: #fff;

  --transition: all 400ms ease;

  --containter-width-lg: 75%;
  --containter-width-md: 86%;
  --containter-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  transition: var(--transition);
}

::-webkit-scrollbar {
  display: none;
 
}

a{
  color: #fff;
}

